.bag1{
    background-color: #ea505a !important;
}
.bag2{
    width: 99%;
    height: 80%;
}
.bag3{
    background-color: rgba(31,64,107,0.94);
    color: white;
}
.bag4{
    background-color: #0069d9;
}
.bag5{
    background-color: green;
}
.bag6{
    background-color: #3dbd27;
}
.bag7{
    background-color: #4e555b;
}
.bag8{
    background-color: #5a6268;
}
.bag10{
    background-color: lightgrey;
}
.bag11{
    border-top: 4px solid gray;
    border-bottom: 4px solid gray;
}



























