span{
    border-radius: 20px !important;
    height: 30px !important;
}
p{
    margin-top: -4px !important;
}
.bag1{
    background-color: #80bdff;
}
.bag2{
    background-color: #d79797;
}
.bag3{
    background-color: #7ad772;
}
.bag4{
    background-color: #7ec6d7;
}
.a1{
    margin-left: 140px!important;
}
.a2{
    background-color: #e6e7ea;

}